body {
background-color:black;
}

html {
background-color:black;
}

article {
color:#999;
}

h1, h2, h3, h4, h5, h6{
color:white;
text-shadow: 2px 2px green;
}

h1 small, h2 small, h3 small, h4 small, h5 small, h6 small {
color: #999;
text-shadow: 0px 0px green;
}

h2 small {
    font-color:#999;
    float:right;
    line-height: 35px;
} 

a {
color:green;

}

a:hover {
color:white;
}

