html, body {
height: 100%;
-webkit-font-smoothing: antialiased;
text-rendering: optimizeLegibility;
background-color: black;
background: #212121; /* Old browsers */
background: -moz-linear-gradient(45deg,  #212121 0%, black 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,#212121), color-stop(100%,black)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(45deg,  #212121 0%,black 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(45deg,  #212121 0%,black 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(45deg,  #212121 0%,black 100%); /* IE10+ */
background: linear-gradient(45deg,  #212121 0%,black 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#212121', endColorstr='black',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

article {
display:block;
border:1px solid white;
min-height:100%;
-webkit-border-radius: 4px 4px 4px 4px;
-moz-border-radius: 4px 4px 4px 4px;
border-radius: 4px 4px 4px 4px;
-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
background-image: url(../img/daft.JPG);
background-size: cover;
}

#wrap {
min-height: 100%;
height: auto !important;
height: 100%;
margin: 0px auto 20px;
}

#push, #footer {
height: 40px;
display:block;
} 

.social-well {
text-align: center;
font-size: 64px;
}

article .email a {
color: #5ba525;    
}

article .facebook a {
color: #3b5998;
}

article .twitter a {
color: #00acee;
}

article .soundcloud a {
color:#ff7700;
}

article .instagram a {
color:#3f729b;
}

article .youtube a {
color:#c4302b;
}

article .thecore a {
color:#d21034;
}

article .nj a {
color:#486782;
}

article .ny a {
color: #FFD700;
}

#squo {
-webkit-transform:rotate(90deg);
-moz-transform:rotate(90deg);
-o-transform: rotate(90deg);
color: white;
display:block;
margin-left: 20px;
font-family: "Comic Sans MS","ChalkboardSE-Regular", cursive, sans-serif;
bottom:0;
width:20px;
height:20px;
font-size: 100px;
}

.social-well a {
color: inherit;
text-decoration: none;
display: inline-block;
*display: inline;
padding: 32px 32px;
margin-bottom: 0;
*margin-left: .3em;
vertical-align: middle;
cursor: pointer;
}

.social-well a:hover {
text-shadow: 0 2px 48px white;
}